 
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        .banner {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(31, 5, 49, 0.795), rgba(20, 2, 36, 0.534)), url(arden.jpg);
            background-size: cover;
            background-position: top;
        }

        .navbar {
            width: 100%;
            margin: auto;
            padding: 35px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar ul {
            margin: 0;
            padding: 0;
        }

        .navbar ul li {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }

        .navbar ul li a {
            text-decoration: none;
            color: #EEF5DB;
            text-transform: uppercase;
        }

        .navbar ul li::after {
            content: "";
            height: 3px;
            width: 0;
            background: #EEF5DB;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }

        .navbar ul li:hover::after {
            width: 100%;
        }

        .content {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color: #EEF5DB;
        }

        .content h1 {
            font-size: 70px;
            margin-top: 80px;
        }

        .content p {
            margin: 20px auto;
            font-weight: 100;
            line-height: 25px;
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        button {
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            font-size: 16px;
            color: #fff;
            background: transparent;
            /*border: 2px solid #009688;
            border-radius: 25px;
            cursor: pointer;
            overflow: hidden;
            transition: color 0.4s, border 0.4s;
            z-index: 1;
            outline: none; */
        }

        button span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 100%;
        
            border-radius: 50px;
            z-index: -1;
         
        }

        button:hover span {
            width: 100%;
        }

        button:hover {
            color: #fff;
            border: none;
        }

        .logo {
            max-height: 50px; /* Adjust according to your logo size */
        }
 